[alias]
	st = status
	ci = commit -v 
	co = checkout
	br = branch

[user]
	name = xzmeng
	email = aumo@foxmail.com

[credential]
	helper = /usr/bin/gp credential-helper

[core]
	editor = vim

[init]
	defaultBranch = master
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
