[alias]
	st = status
	ci = commit -v 
	co = checkout
	br = branch

[user]
	name = xzmeng
	email = aumo@foxmail.com

[credential]
	helper = /user/bin/gp credential-helper

[core]
	editor = vim

[init]
	defaultBranch = master
